In [1]:
import numpy as np
import pandas as pd

In [2]:
df_raw = pd.read_csv('true_car_listings.csv')

In [3]:
df_raw.head()

,Price,Year,Mileage,City,State,Vin,Make,Model
0,8995,2014,35725,El Paso,TX,19VDE2E53EE000083,Acura,ILX6-Speed
1,10888,2013,19606,Long Island City,NY,19VDE1F52DE012636,Acura,ILX5-Speed
2,8995,2013,48851,El Paso,TX,19VDE2E52DE000025,Acura,ILX6-Speed
3,10999,2014,39922,Windsor,CO,19VDE1F71EE003817,Acura,ILX5-Speed
4,14799,2016,22142,Lindon,UT,19UDE2F32GA001284,Acura,ILXAutomatic

In [ ]:
df_raw.info()

In [ ]:
df_raw.describe()

## EDA and Data Preprocessing

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

Let's have a quick look on data.

In [ ]:
plt.figure(figsize=(20,8))
plt.subplot(1, 3, 1)
plt.hist(df_raw['Price'], bins=100)
plt.title('Price')

plt.subplot(1, 3, 2)
plt.hist(df_raw['Mileage'], bins=100)
plt.title('Mileage')

plt.subplot(1, 3, 3)
plt.hist(df_raw['Year'], bins=100)
plt.title('Year')

In [ ]:
plt.figure(figsize=(18, 8))
sns.countplot(x=df_raw['State'], order=df_raw['State'].value_counts().index)

We see that there are outliers in data. Let's set up a constraint of 3 standard deviations for price and mileage.

In [4]:
from scipy import stats

std_dev = 3
df_clean = df_raw[(np.abs(stats.zscore(df_raw[['Price', 'Mileage']])) < float(std_dev)).all(axis=1)]

In [ ]:
df_clean.info()

Now let's check the data for missing values.

In [ ]:
df_clean.isnull().values.any()

Let's check the distribution once again

In [ ]:
plt.figure(figsize=(20,8))
plt.subplot(1, 3, 1)
plt.hist(df_clean['Price'], bins=100)
plt.title('Price')

plt.subplot(1, 3, 2)
plt.hist(df_clean['Mileage'], bins=100)
plt.title('Mileage')

plt.subplot(1, 3, 3)
plt.hist(df_clean['Year'], bins=100)
plt.title('Year')

Now the distribution looks much better.

In [ ]:
df_raw['City'].nunique()

We have got 2553 unique cities, that's quite a lot. We need to encode it in some way so that does not affect training. To do this let's get population information for the cities from data.world and merge it to our dataframe.

In [ ]:
us_cities = pd.read_excel('US City Populations.xlsx')
us_cities.drop('State', axis=1, inplace=True)
us_cities.sort_values('Population', ascending=False)
us_cities.head()

In [ ]:
us_cities.drop_duplicates(subset='City', keep='first', inplace=True)
us_cities.info()

In [ ]:
df_clean = df_clean.merge(us_cities, on='City', how='left')
df_clean.head()

In [ ]:
df_clean.Population.isna().value_counts()

In [ ]:
df_clean.Population.fillna(df_clean['Population'].median(), inplace=True)

In [ ]:
df_clean.Population.isna().value_counts()

Now let's encode the city column with 1 for city population more than 50000 and 0 for less 50000.

In [5]:
#df_clean['City'] = np.where(df_clean['Population'] > 50000, 1, 0)
df_clean.drop(['City', 'Vin'], axis=1, inplace=True)
df_clean.head()

/home/artur/anaconda3/envs/ml/lib/python3.6/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

   Price  Year  Mileage State   Make         Model
0   8995  2014    35725    TX  Acura    ILX6-Speed
1  10888  2013    19606    NY  Acura    ILX5-Speed
2   8995  2013    48851    TX  Acura    ILX6-Speed
3  10999  2014    39922    CO  Acura    ILX5-Speed
4  14799  2016    22142    UT  Acura  ILXAutomatic

Let's now look for some correlations between numeric variables. We would better take a particular model for that so not to get a mess. But first, we need to clean the names.

In [14]:
df_clean['State'] = df_clean['State'].str.lower()

/home/artur/anaconda3/envs/ml/lib/python3.6/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [7]:
df_clean['Make'] = df_clean['Make'].str.lower()

/home/artur/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
df_clean['Model'] = df_clean['Model'].str.lower()
df_clean['Model'] = df_clean['Model'].str.replace(' ', '')
df_clean['Model'] = df_clean['Model'].str.replace('-', '')

/home/artur/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/artur/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/artur/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
honda = df_clean[(df_clean.Make == 'honda') & (df_clean.Model == 'accord')]

In [ ]:
plt.figure(figsize=(6, 4))
sns.scatterplot(x='Mileage', y='Price', data=honda, marker='x')

In [ ]:
plt.figure(figsize=(6, 4))
sns.scatterplot(x='Year', y='Price', data=honda, marker='x')

We see that linearity is quite obvious.

## Categorical data encoding and splitting for train and test

Let's encode the categorical data (state, make and model).

There are a lot of unique rows in categorical features, so one-hot encoding will create a huge dataframe. So, we'd better use label encoding. It will not be great for linear regression, but tree-based models know how to handle it.

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [ ]:
df_clean['State'] = encoder.fit_transform(df_clean['State'])

In [ ]:
df_clean['Make'] = encoder.fit_transform(df_clean['Make'])
df_clean['Model'] = encoder.fit_transform(df_clean['Model'])

In [ ]:
df_clean.head()

Now we can split the data for train and test.

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X = df_clean.drop('Price', axis=1)
y = df_clean['Price']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Feature Scaling

As soon as we are going to use not only a linear regression baseline, but also tree-based models, we will use MinMaxScaler (not StandardScaler) to scale numeric columns.

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler()

In [ ]:
X_train.iloc[:, 0:2] = scaler.fit_transform(X_train.iloc[:, 0:2])

In [ ]:
X_test.iloc[:, 0:2] = scaler.transform(X_test.iloc[:, 0:2])